@{
    ViewData["Title"] = "ApplicationPage";
}
@using System.Security.Claims
@model ToDoList.Models.Business.Entites.Category


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Application</title>

    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/files/default.date.css">
    <link rel="stylesheet" href="~/files/default.time.css">
    <link rel="stylesheet" href="~/files/classic.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
</head>
<body>
<header>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Task Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info"
                         aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" data-target="#AccountModal" data-toggle="modal">My account</a>
                        <a asp-action="logout" asp-controller="Account" class="dropdown-item" id="signout">
                            Sign Out
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 menu-block">
            <div class="user-block">
                <a href="#" class="fa fa-user">
                    <span class="user-name"></span>
                </a>
            </div>
            <div>
                Hello @User.FindFirst(email => email.Type == ClaimTypes.Email)?.Value,
                Role @User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value

            </div>
            <div class="search-block input-group md-form form-sm form-2 pl-0">
                <form name="search_form">
                    <div class="form-group">
                        <input class="form-control my-0 py-1" id="searchTask" type="search" placeholder="Search task"
                               aria-label="Search">
                        <div class="input-group-append findTask">
                            <span class="input-group-text" id="search_btn">
                                <i class="fa fa-search text-grey"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Tab list-->
            <div class="list-group" id="myList" role="tablist"></div>
            <hr>
            <!-- Button trigger modal -->
            <button type="button" id="showCreateList" class="btn btn-primary">Create list</button>
        </div>
        <div class="col-9 main-block">
            <h1 class="categoriesName"></h1>
            <div class="AddTask">
                <form method="post" name="AddTask">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Name" id="name" placeholder="Add task"
                               aria-label="Add task"
                               aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-md btn-success m-0 px-3" type="submit" id="MaterialButton-addon1">
                                Add
                                task
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Tab content -->
            <div class="tab-content"></div>
            <!-- creteListModal -->
            <div class="modal fade" id="ListModal" tabindex="-1" role="dialog"
                 aria-labelledby="ListModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ListModalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="ListForm" name="" method="post">
                                <div class="form-group">
                                    <input id="categoryName" type="text" name="Name" placeholder="Category Name" class="form-control listName"/>
                                    <span class="invalid-feedback"></span>
                                    <span class="valid-feedback"></span>
                                </div>
                                <div class="modal-footer">
                                    <div class="buttons"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" name="EditTask">
                    <div class="md-form input-group input-group-lg">
                        <input type="checkbox" class="isMarked" title="Mark as completed">
                        <input type="text" value="" style="width: 90%" id="taskName" name="taskName"
                               aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                    </div>
                    <div class="md-form amber-textarea active-amber-textarea">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <textarea id="note" class="md-textarea form-control" rows="3"></textarea>
                        <label for="note"></label>
                    </div>
                    <div class="md-form">
                        <span class="set-date">
                            <i class="fa fa-calendar-alt"></i>
                        </span>
                        <input placeholder="set due date" type="date" id="date-picker" class="form-control datepicker">
                        <span class="set-time">
                            <i class="fa fa-hourglass"></i>
                        </span>
                        <input placeholder="set the execution time" type="time" id="input_starttime"
                               class="form-control timepicker">
                    </div>
                    <div class="buttons">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="save_changes" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->
<!--Account info Modal  -->
<div class="modal fade" id="AccountModal" tabindex="-1" role="dialog" aria-labelledby="AccountModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AccountModalLabel">Account settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display:flex">
                <!-- List group -->
                <div class="list-group Settings-list" id="SettingsList" role="tablist">
                    <a class="setting-list-item active" data-name="profile" role="tab"><i class="fa fa-id-card"></i> Profile</a>
                    <a class="setting-list-item" data-name="settings" role="tab"><i class="fa fa-cogs"></i> Settings</a>
                    <a class="setting-list-item" data-name="about" role="tab"><i class="fa fa-info-circle"></i> About</a>
                </div>
                <!-- Tab panes -->
                <div class="tab-content Settings-tabs">
                    <div class="setting-tab-pane active" id="profile" role="tabpanel">
                        <form action="" name="AccountSettings">
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" id="form-name" name="user-name" class="form-control">
                                <label for="form-name" class="">Name</label>
                            </div>
                            <div class="md-form" style="display:none;">
                                <input type="text" id="UserAccountId" name="UserAccountId" class="form-control">
                            </div>
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" id="form-email" name="user-email" class="form-control">
                                <label for="form-email" class="">Email</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-phone prefix grey-text"></i>
                                <input type="tel" id="form-phone" name="user-phone" class="form-control">
                                <label for="form-phone" class="">Phone</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-key prefix grey-text"></i>
                                <input type="password" id="form-password" name="user-password" class="form-control">
                                <label for="form-password" class="">Password</label>
                            </div>
                        </form>
                    </div>
                    <div class="setting-tab-pane " id="settings" role="tabpanel">
                        <button class="btn btn-danger">Delete Account</button>
                    </div>
                    <div class="setting-tab-pane " id="about">
                        <p>Task Manager version 1.0 created by <a href="https://github.com/VugarWeb777" target="_blank" title="GitHub profile">VugarWeb777</a></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"></script>
<script src="~/files/legacy.js"></script>
<script src="~/files/picker.js"></script>
<script src="~/files/picker.date.js"></script>
<script src="~/files/picker.time.js"></script>
<script src="app.bundle.js"></script>
</body>
</html>